.my_skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.my_skill_one,
.my_skill_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.my_skill_two h3 {
    margin: auto;
}

.my_skill_one {
    margin-bottom: 30px;
}

.my_works_left {
    width: 60%;
    overflow-x: scroll;
    overflow-y: hidden;
    /* background-color: white; */
}

.my_works_right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my_works_right h1,
.my_works_txt {
    margin-bottom: 25px;
}

.my_works_txt {
    line-height: 28px;
}

.my_works_right ul {
    margin-bottom: 20px;
}

.my_works_right li {
    line-height: 28px;
}

.screen_w {
    display: flex;
    width: 50%;
}

.my_works_left img {
    width: 200%;
    object-fit: contain;
}

.my_works_out {
    display: flex;
}

li {
    list-style-type: none;
}

.my_works_res {
    display: flex;
}

.screen_w img:nth-child(2) {
    width: 100%;
}

.my_works_bt img {
    width: 15px;
    margin-left: 5px;
}

.my_works_right span {
    font-size: 16px;
    padding-left: 16px;
    ;
}

.my_works_left {
    margin-right: 20px;
}

.my_works {
    margin-bottom: 120px;
}

.my_works_bt_out {
    display: flex;
}

.my_works_bt {
    width: 100%;
}

.my_works_bt a {
    justify-content: center;
    width: 100%;
    display: flex;
    border: 1px solid;
    padding: 8px 0;
}

.my_works_bt_v {
    margin-left: 15px;
}

.my_works_res_title p {
    line-height: 28px;
}

@media screen and (max-width:900px) {
    .my_works_out {
        display: flex;
        flex-direction: column;
    }
    .my_works_right {
        width: 100%;
        margin-top: 24px;
    }
    .screen_w {
        width: 50%;
    }
    .my_works_left {
        width: 100%;
    }
    .my_works_right h1 {
        display: flex;
        justify-content: center;
    }
    .my_works_right span {
        display: flex;
        align-items: flex-end;
        line-height: 28px;
    }
    .my_works_left img {
        width: 200%;
        object-fit: contain;
    }
    .my_works {
        margin-bottom: 60px;
    }
    .my_skill {
        margin-bottom: 60px;
    }
    .my_skill h3 {
        font-size: 16px;
    }
}

@media screen and (max-width:1200px) {
    .my_works_right li {
        font-size: 14px;
    }
    .my_works_right h1,
    .my_works_txt {
        margin-bottom: 16px;
    }
}